.srchb
  height: 0vh
  width: 70vw 
  background-color: #ccc 
  transition: height 200ms ease-in-out
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  display: flex
  &.open
    height: 15vh
.srchInp
  background-color: transparent
  border: none
  &:focus
    outline: none

.formSrch
  display: flex
  display: none
  &.open
    display: block

.openBtnContainer
  transition: color 200ms ease
  display: flex
  &:hover
    color: black
@media screen and ( max-width: 500px )
  .srchb
    width: 100vw
    &.open
      height: 10vh
