@import './_search'
@import './reset'
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap')
*, *:before, *:after
    box-sizing: border-box

body 
  margin: 0
  background-color: white

.loadContainer
  font-size: 50px
  height: 30vh
  display: flex
  align-items: center
 
.App 
  display: flex
  flex-direction: column
  align-items: center
  font-family: 'Chivo', sans-serif
  color: black
  font-weight: 300

.main
  display: grid;
  grid-template:
    columns: 1fr 1fr 1fr 1fr 
    areas: "locData locData locData locData""mainFore mainFore foreInfo foreInfo""week week week week" 
    rows: .3fr 2.5fr 1fr;
  grid-gap: .5em
  height: 98vh
  width: 70vw;
  animation: expand 500ms ease-in-out

.ForecastInfo
  grid-area: foreInfo
  grid-gap: .5em
  display: grid;
  grid-template:
    areas: "moon wind""sunrise humid" 
    columns: 1fr 1fr
    rows: 1fr 1fr

.locationData
  margin-top: 2vh
  grid-area: locData
  font-size: 25pt
  color: gray
  display: flex
  align-items: center 
  justify-content: space-between
  padding: 
    left: 2%
    right: 2%

.forecastItem
  border-radius: 20px
  border: 1px solid lightgray

.MainForecast
  background-color: #4d7df6
  color: white
  border-radius: 20px
  font-size: 4vw
  grid-area: mainFore
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-bottom: 10% 
  h1
    font-size: 12vw
  img
    max-width: 20%
    height: auto
  
.imgHol
  display: flex
  align-items: center
  justify-content: center

.testCont
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-around
  
.imgTempCont
  display: flex
  align-items: center
  flex-direction: column
  justify-content: space-around

.descripCont
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

.btnContainer
  display: flex
  width: 100%
  justify-content: flex-end
  align-items: center
  padding: 2%
  h2
    margin-right: auto   
    padding-left: 2%
    font-size: 20pt
    color: lightgray

.btn
  background-color: white
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  height: 30px
  width: 30px
  margin: 1%
  transition: background-color 500ms 
  font-size: 12pt
  color: black
  font-weight: 500
  opacity: .5
  &:hover
    background-color: gray
    color: white 
  &.active
    background-color: black
    color: white
    opacity: .8

.sunrise
  grid-area: sunrise

.moon
  grid-area: moon
  display: flex
  text-align: center
  font-size: 20pt
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 5%
.moonIcon
  font-size: 8vw
  display: flex
  color: #4d7df6

.wind
  grid-area: wind
  display: flex
  font-size: 20pt  
  text-align: center
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 5%
.windIcon
  animation: spin 1.5s linear
  display: flex
  color: #4d7df6
  font-size: 8vw

.humidity
  grid-area: humid

.weekContainer
  grid-area: week
  display: flex
  flex-direction: column
.selectorBtn
  font-size: 20pt
  display: flex
  align-items: center
  padding-left: 1%
  height: 20%
.todayBtn,.weekBtn
  color: gray
  font-size: 20pt
  margin-right: 2%
  transition: color 500ms
  &:hover
    color: #4d7df6
    cursor: pointer   
  &.active
    color: black
    font-weight: 400

.WeeklyForecast
  height: 80%
  display: grid
  overflow: scroll
  grid-gap: .5em
  grid-template-columns: repeat(8, 1fr)
  padding:
    bottom: 5px
    top: 5px
  .imgContainer
    display: flex
    align-item: center
    justify-content: center
    img
      height: 40px
      width: 40px

  .weekItem
    border: 1px solid lightgray
      radius: 20px
    min-width: 100px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

  

// Animations
@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes expand 
  0%
    transform: translateY(100vw)
    opacity: 0
  50%
    opacity: 1   
  100%
    transform: translateY(0);
    
  
@media screen and ( max-width: 1200px  )
  .main
    width: 95vw
@media screen and ( max-width: 550px )
  .main
    margin-top: 2vh
    grid-template:
      areas: "locData locData locData locData""mainFore mainFore mainFore mainFore""week week week week""foreInfo foreInfo foreInfo foreInfo" 
      rows: 8vh 45vh 20vh 40vh;
    grid-gap: .5em
    height: 120vh

  .MainForecast
    width: 100%
    font-size: 30pt
    h1
      font-size: 35vw
    img
      max-width: 20%
  .WeeklyForecast
    grid-gap: .5em
  .search
    width: 90vw;
    justify-content: flex-start
    #srch
      width: 80%
      font-size: 15pt
    .searchSubmit
      background-color: transparent 
      border: none
      font-size: 10pt
  .moon, .wind
    font-size: 12pt
  .moonIcon, .windIcon
    font-size: 60pt